@import './variables.scss';
@import './header.scss';
@import './home/home.scss';
@import './formula.scss';
@import './TN.scss';
@import './flashcard.scss';


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #343A40;
}

