

<link rel="stylesheet" href="/css/app.css">
<div class="card-container">
  <div class="wraper">
    <div class="list swiper-wrapper">
    </div>
  
    <div class="swiper-button-prev button-prev "></div>
    <div class="swiper-button-next button-next "></div>
  
    <div class="swiper-pagination"></div>
  </div>
</div>

<div class="list-data">
    {{#each flashcards}}
        <div frontSide="{{this.frontSide}}" backSide="{{this.backSide}}" id={{this._id}} class="input"></div>
    {{/each}}
</div>


<script src="/JS/flashcard.js"></script>

