
<div id="searchWrapper" class="mt-4">
    <input
        type="text"
        name="searchBar"
        id="searchBar"
        placeholder="Enter formula name to search"
    />
</div>
<div class="tab-list">
    <div class="tab active">Inorganic Chemistry</div>
    <div class="tab">Organic Chemistry</div>
    <div class="line"></div>
</div>

    <ul id="formulasList">
    {{#each formulas}}
        <div name="{{this.name}}" type="{{this.type}}" class="input"></div>
    {{/each}}
    </ul>


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

<script src="/JS/formula.js"></script>

