<div class="introduce top">
    <div class="content ">
        <h1 class="content__heading">Chemistry <br>So easy. Learn now!</h1>
        <p class="content__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quisquam provident expedita rem modi porro itaque ab eveniet? Est maxime delectus reiciendis reprehenderit officia quas, illum provident possimus pariatur excepturi.</p>
    </div>
    <div class="thumbnail ">
        <img src="https://mlymfv8g2hdt.i.optimole.com/D4QDu2c-uPcxZCeZ/w:840/h:430/q:auto/rt:fill/g:ce/https://giasuquocte.edu.vn/wp-content/uploads/2016/07/hoa.jpg" alt="">
    </div>
</div>

<div class="introduce white">
    <div class="content ">
        <h1 class="content__heading">Chemistry <br>So easy. Learn now!</h1>
        <p class="content__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quisquam provident expedita rem modi porro itaque ab eveniet? Est maxime delectus reiciendis reprehenderit officia quas, illum provident possimus pariatur excepturi.</p>
        <div class="content__btns">
            <a href="/formula" class="content__btn">Công thức</a>
            <a href="/TN" class="content__btn">Thí nghiệm</a>
        </div>
    </div>
    <div class="thumbnail ">
        <img src="https://o.remove.bg/downloads/f0fc2e93-364d-48ad-8d35-0cb04f70e37a/chemistry-typographic-concept-scientist-making-260nw-1702486894-removebg-preview.png" alt="">
        <img src="https://mlymfv8g2hdt.i.optimole.com/D4QDu2c-uPcxZCeZ/w:840/h:430/q:auto/rt:fill/g:ce/https://giasuquocte.edu.vn/wp-content/uploads/2016/07/hoa.jpg" alt="">
    </div>
</div>