
<div id="searchWrapper" class="mt-4">
    <input
        type="text"
        name="searchBar"
        id="searchBar"
        placeholder="Nhập tên công thức để tìm kiếm"
    />
</div>
    <ul id="TNsList">
    {{#each TNs}}
        <div name="{{this.name}}" age="{{this.class}}" imgUrl="{{this.imgUrl}}" videoUrl="{{this.videoUrl}}" class="input"></div>
    {{/each}}
    </ul>


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<script src="/JS/TN.js"></script>

